/**
 * 	@file Styles for default layout.
 */
 
/**
 * 	Styles for header.
 */
header{
	position:relative;
	clear:both;
	background-color:#CFCFCF;
	height:4em;
	width:auto;
}

/**
 * Messages
 */
 #messages{
 	postion:relative;
 	clear:both;
 }

/**
 * Content
 */
div#content {
	min-height:40em;
	margin-bottom:1em;
}

 /**
 * 	Styles for footer.
 */
footer{
	position:relative;
	clear:both;
	float:left;
	background-color:#CFCFCF;
	height:20px;
	width:100%;
}
