/**
 * 	Styles for left menu.
 */
#menu{
	min-width:250px;
	max-width:250px;
	min-height:100vh;
	background: #7386D5;
	color: #fff;
	transition: all 0.3s;
}

#menu.active{
	margin-left:-250px;
}

@media (max-width: 768px) {
    #menu {
        margin-left: -250px;
    }
    #menu.active {
        margin-left: 0;
    }
}

#menu .header {
	padding: 20px;
	background: #6d7fcc;
}

#menu ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

#menu ul p {
	color: #fff;
	padding: 10px;
}

#menu ul p {
	color: #fff;
	padding: 10px;
}

#menu ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#menu ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#menu ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
#menu ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#menu a[data-toggle="collapse"] {
	position: relative;
}

#menu a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
	content: '\e259';
	display: block;
	position: absolute;
	right: 20px;
	font-family: 'Glyphicons Halflings';
	font-size: 0.6em;
}

#menu a[aria-expanded="true"]::before {
	content: '\e260';
}
