/**
 * 	Styles for view users/auth/login.
div.label{
	position:relative;
	float:left;
	margin-top:4px;
	width:10px;
}
 */
nav {display:none;}

#auth-login {
	margin:auto;
	width:50%;
}

input[type="submit"] {
    width: 40%;
}
